<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- This example requires d3 for AJAX and the brush,
         though you can bring your own library. -->
    @*<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js' charset="utf-8"></script>*@
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/thirdparties")
    @RenderSection("Scripts", required: false)
</body>
</html>
